<% layout('/layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center py-5">New campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="form-label mb-3">
                <label for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a title.
                </div>
            </div>
            <div class="form-label mb-3">
                <label for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a location.
                </div>
            </div>
            <div>
                <input type="file" name="image" id="" multiple>
            </div>
            <!-- <div class="form-label mb-3">
                <label for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a image url.
                </div>
            </div> -->
            <div class="mb-3">
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" name="campground[price]" aria-label="price" aria-describedby="price-label" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid price.
                    </div>
                </div>
            </div>
            <div class="form-label mb-3">
                <label for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>
            <div class="py-3 text-center">
                <button class="btn btn-success">Save it</button>
            </div>
        </form>
        <a href="/campgrounds">All Campground</a>
    </div>
</div>

