<% layout('/layouts/boilerplate')%>
<h1 class="text-center py-5">Login now</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="form-label mb-3">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please provide a valid Username.
        </div>
    </div>
    <div class="form-label mb-3">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please provide a password.
        </div>
    </div>
    <button class="btn btn-success">Login</button>
</form>