<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="/Campgrounds">Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">Create one</a>
                <a class="nav-link" href="/pricing">Pricing</a>
                <a class="nav-link" href="#">About us</a>
                <% if(!currentUser) { %>
                <a class="nav-link" href="/register">Sign in</a>
                <a class="nav-link" href="/login">Log in</a>
                <% } else { %>
                <a class="nav-link" href="/logout">Log Out</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>