<% layout('../views/boilerplate') %>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Basic Plan</h5>
            <p class="card-text">Access to all campgrounds and basic features.</p>
            <p class="card-text">Limited number of reviews.</p>
            <p class="card-text"><strong>$9.99/month</strong></p>
            <a href="#" class="btn btn-primary">Choose Plan</a>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Pro Plan</h5>
            <p class="card-text">Unlimited access to campgrounds and advanced features.</p>
            <p class="card-text">Priority customer support.</p>
            <p class="card-text"><strong>$19.99/month</strong></p>
            <a href="#" class="btn btn-primary">Choose Plan</a>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Premium Plan</h5>
            <p class="card-text">VIP access to exclusive campgrounds and premium features.</p>
            <p class="card-text">Unlimited reviews and priority customer support.</p>
            <p class="card-text"><strong>$29.99/month</strong></p>
            <a href="#" class="btn btn-primary">Choose Plan</a>
        </div>
    </div>
</div>
