<% layout('../views/boilerplate') %>
<div class="container py-5">
    <h2 class="text-center">Pricing Plans</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://res.cloudinary.com/dwtlkelqr/image/upload/c_scale,w_500,f_auto,q_auto/v1693151646/homrpage/zach-betten-K9olx8OF36A-unsplash_llpnor.jpg" class="card-img-top" alt="Basic Plan">
                <div class="card-body">
                    <h5 class="card-title">Basic Plan</h5>
                    <p class="card-text">
                        Access to all campgrounds and basic features.
                    </p>
                    <p class="card-text">
                        Limited number of reviews.
                    </p>
                    <p class="card-text">
                        Email support.
                    </p>
                    <p class="card-text"><strong>$9.99/month</strong></p>
                    <a href="#" class="btn btn-primary">Choose Plan</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="https://res.cloudinary.com/dwtlkelqr/image/upload/c_scale,w_500,f_auto,q_auto/v1693151703/homrpage/dlc-Vy_9Ir2wd7w-unsplash_kgx4az.jpg" class="card-img-top" alt="Pro Plan">
                <div class="card-body">
                    <h5 class="card-title">Pro Plan</h5>
                    <p class="card-text">
                        Unlimited access to campgrounds and advanced features.
                    </p>
                    <p class="card-text">
                        Priority customer support.
                    </p>
                    <p class="card-text">
                        Unlimited reviews.
                    </p>
                    <p class="card-text">
                        Phone and email support.
                    </p>
                    <p class="card-text"><strong>$19.99/month</strong></p>
                    <a href="#" class="btn btn-primary">Choose Plan</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="https://res.cloudinary.com/dwtlkelqr/image/upload/c_scale,w_500,f_auto,q_auto/v1693151663/homrpage/ar-ErhF_Zqr9BQ-unsplash_pb82un.jpg" class="card-img-top" alt="Premium Plan">
                <div class="card-body">
                    <h5 class="card-title">Premium Plan</h5>
                    <p class="card-text">
                        VIP access to exclusive campgrounds and premium features.
                    </p>
                    <p class="card-text">
                        Unlimited reviews and priority customer support.
                    </p>
                    <p class="card-text">
                        Personalized assistance.
                    </p>
                    <p class="card-text">
                        Access to premium events.
                    </p>
                    <p class="card-text"><strong>$29.99/month</strong></p>
                    <a href="#" class="btn btn-primary">Choose Plan</a>
                </div>
            </div>
        </div>
    </div>
</div>
