<% layout('../views/boilerplate') %>
<div class="container py-5">
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-center mb-4">About The Test App</h2>
            <p class="lead">Discover and explore amazing campgrounds with TestApp.</p>
            <p>
                TestApp is your ultimate destination for finding the perfect camping spots. Our platform provides a user-friendly interface that allows you to browse and discover a wide range of campgrounds across various locations. Whether you're a seasoned camper or new to the world of camping, YelpCamp has something for everyone.
            </p>
            <ul class="list-unstyled">
                <li>Explore and discover a variety of campgrounds.</li>
                <li>Read reviews and ratings from fellow campers.</li>
                <li>Share your camping experiences and insights.</li>
                <li>Create a personalized account for additional features.</li>
            </ul>
            <p>
                We understand the importance of sharing experiences, and that's why we encourage our users to write reviews and ratings for the campgrounds they have visited. By sharing your insights, you can help others make informed decisions and create memorable camping experiences.
            </p>
            <p>
                At YelpCamp, we believe in providing a personalized experience. Create a user account to access additional features, such as saving your favorite campgrounds and managing your reviews. Our priority is to make your camping journey enjoyable, hassle-free, and unforgettable.
            </p>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
            <img src="https://res.cloudinary.com/dwtlkelqr/image/upload/c_scale,w_500,f_auto,q_auto/v1690992806/homrpage/glen-jackson-mzZVGFfMOkA-unsplash_q0yzda.jpg" alt="About Image" class="img-fluid rounded">
        </div>
    </div>
</div>
